# {{disclaimer}}

font=monospace 10
border-color=#{{bright_black_hex}}
background-color#{{background}}
border-size=2

width=325
height=120

icon-location=right

[urgency=normal]
border-color=#{{bright_black_hex}}

[urgency=high]
border-color=#{{bright_red_hex}}