# {{disclaimer}}

font=monospace:size=13.5
use-bold=yes
placeholder=...
hide-before-typing=no
prompt="{{arrow}} "
terminal=foot
exit-on-keyboard-focus-loss=no
width=45
line-height=24

[colors]
background={{bright_background_hex}}ff
text={{bright_white_hex}}ff
prompt={{bright_green_hex}}ff
placeholder={{bright_black_hex}}ff
input={{foreground_hex}}ff
match={{foreground_hex}}ff
selection={{bright_black_hex}}ff
selection-text={{bright_white_hex}}ff
selection-match={{foreground_hex}}ff
counter={{foreground_hex}}ff
border={{foreground_hex}}00

[border]
width=4
radius=10