include "binds.kdl"

input {
    keyboard {
        xkb {
            options "caps:super"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
        scroll-method "two-finger"
        disabled-on-external-mouse
    }

    mouse {
        accel-profile "adaptive"
    }

    focus-follows-mouse max-scroll-amount="0%"
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

gestures {
    hot-corners {
        off
    }
}

output "HDMI-A-1" {

    mode "1920x1080@143.981"
    scale 1
    transform "normal"

    position x=0 y=0
}

output "HDMI-A-2" {

    mode "1920x1080@60.000"
    scale 1
    transform "normal"

    position x=-1920 y=0
}

layout {
    gaps 10

    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    focus-ring {
        off
    }

    border {
        off

        width 0
        active-color "#{{bright_black_hex}}"
        inactive-color "#{{black_hex}}"

        urgent-color "#{{red_hex}}"
    }    

    struts {
        left 5
        right 5
        top 10
        bottom 5
    }
}

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "hyprpaper"
spawn-sh-at-startup "swaybg -i ~/.config/wallpaper.png -m fill"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

animations {
    // off
    slowdown 0.8
}

// Open the Firefox picture-in-picture player as floating by default
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Block out KeePassXC from screen capture
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

xwayland-satellite {
    path "xwayland-satellite"
}

overview {
    backdrop-color "#{{bright_background_hex}}"
}
