* {
	font-family: sans-serif, "Symbols Nerd Font";
	font-size: 15px;
}

#waybar {
	background-color: transparent;
	color: white;
}

#window label {
	font-size: 14px;
	font-weight: 500;
}

#workspaces label {
	font-size: 16px;
}

#workspaces button {
	color: white;
	border-radius: 0px;
	border-color: transparent;
	transition: background-color 0.125s;
	padding: 0px 6.5px;
}

#workspaces button.active {
	background-color: rgb[lightbg];
}

#lbborder, #rbborder, #ltborder, #rtborder, #tlbborder, #trbborder, #tltborder, #trtborder {
	background: transparent;
	min-height: 0px;
}

#lbborder {
	border-left: 20px solid transparent;
	border-bottom: 30px solid rgb[darkbg];
}

#rbborder {
	border-right: 20px solid transparent;
	border-bottom: 30px solid rgb[darkbg];
}

#ltborder {
	border-left: 20px solid transparent;
	border-top: 30px solid rgb[darkbg];
}

#rtborder {
	border-right: 20px solid transparent;
	border-top: 30px solid rgb[darkbg];
}

#tlbborder {
	border-left: 20px solid rgb[lightbg];
	border-bottom: 30px solid rgb[darkbg];
}

#trbborder {
	border-right: 20px solid rgb[lightbg];
	border-bottom: 30px solid rgb[darkbg];
}

#tltborder {
	border-left: 20px solid rgb[lightbg];
	border-top: 30px solid rgb[darkbg];
}

#trtborder {
	border-right: 20px solid rgb[lightbg];
	border-top: 30px solid rgb[darkbg];
}

#albborder {
	border-left: 20px solid transparent;
	border-bottom: 30px solid rgb[lightbg];
}

#arbborder {
	border-right: 20px solid transparent;
	border-bottom: 30px solid rgb[lightbg];
}

#altborder {
	border-left: 20px solid transparent;
	border-top: 30px solid rgb[lightbg];
}

#artborder {
	border-right: 20px solid transparent;
	border-top: 30px solid rgb[lightbg];
}

#left, #center, #right {
	background-color: rgb[darkbg];
}

#right2 {
	background-color: rgb[lightbg];
}

#right, #right2 {
	padding: 0px 5px;
}

#center {
	padding: 0px 20px;
}

#right .module {
	padding: 0px 5px;
}

#left {
	font-size: 24px;
}

#network {
	font-size: 15px;
	color: #[base9];
}

#cpu {
	color: #[base10];
}

#memory {
	color: #[base12];
}

#pulseaudio-slider {
	min-height: 0px;
}

#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 15px;
	border: none;
	border-left: solid 14px transparent;
	border-top: solid 21px white;
	border-right: solid 14px transparent;
	border-radius: 0px;
}

#pulseaudio-slider trough {
	min-width: 200px;
	min-height: 2px;
	background-color: #[base8];
	border: none;
	border-radius: 0px;
}

#pulseaudio-slider highlight {
	min-width: 0px;
	min-height: 0px;
	background-color: #[base9];
	border: none;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
}

