# {{disclaimer}}

font=monospace 10
border-color=#{{bright_black_hex}}
background-color=#{{bright_background_hex}}
border-size=0
border-radius=5

width=325
height=120

icon-location=right

[urgency=normal]
text-color=#{{foreground_hex}}

[urgency=high]
text-color=#{{bright_red_hex}}