font=monospace:size=12

[colors]

background={{background_hex}}
foreground={{foreground_hex}}

regular0={{black_hex}}
regular1={{red_hex}}
regular2={{green_hex}}
regular3={{yellow_hex}}
regular4={{blue_hex}}
regular5={{magenta_hex}}
regular6={{cyan_hex}}
regular7={{white_hex}}

bright0={{bright_black_hex}}
bright1={{bright_red_hex}}
bright2={{bright_green_hex}}
bright3={{bright_yellow_hex}}
bright4={{bright_blue_hex}}
bright5={{bright_magenta_hex}}
bright6={{bright_cyan_hex}}
bright7={{bright_white_hex}}